EXAMPLE_SERVICE_URL=your-service-url
DRAFTMODE_SECRET=your-secret
CLERK_SECRET_KEY=your-clerk-secret-key
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your-clerk-publishable-key
TEST_ACCOUNT_EMAIL=your-email
TEST_ACCOUNT_PASSWORD=your-password
LAUNCHDARKLY_SDK_KEY=your-launchdarkly-sdk-key