name: Publish Package

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    defaults:
      run:
        working-directory: apps/cli
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Install dependencies
        run: |
          npm ci

      - name: Fetch latest release tag
        id: get_release
        run: echo "RELEASE_TAG=$(echo ${{ github.ref }} | awk -F/ '{print $NF}')" >> $GITHUB_ENV

      - name: Set package version
        run: npm version $RELEASE_TAG --no-git-tag-version

      - name: Build CLI
        run: npm run build

      - name: Publish package
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
