name: Publish Package

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    defaults:
      run:
        working-directory: apps/cli
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Fetch latest release tag
        id: get_release
        run: echo "RELEASE_TAG=$(echo ${{ github.ref }} | awk -F/ '{print $NF}')" >> $GITHUB_ENV

      - name: Set package version
        run: pnpm version $RELEASE_TAG --no-git-tag-version

      - name: Build CLI
        run: pnpm run build

      - name: Publish package
        run: pnpm publish --no-git-checks --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_//registry.npmjs.org/:_authToken: ${{ secrets.NPM_TOKEN }}
